<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
<header th:include="_template :: menu(page)"></header>
<h2 align="center"  style="background-color:#121212; color: white;
font-family: Inconsolata">Listagem da Compra de Objetos de Arte por Mês e Por ano </h2>
<td><a class="btn btn-sm btn-primary"
       th:href="@{/permanentes/graficoConsulta3/grafico-mes}">Ver Gráfico - Por Mês</a></td>
       
<td><a class="btn btn-sm btn-primary"
        th:href="@{/permanentes/graficoConsulta3/grafico-ano}">Ver Gráfico - Por Ano</a></td>
       
<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">CustoTotal</th>
    <th scope="col">Mês</th>
    <th scope="col">Ano</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="obj : ${resultList}">
    <th scope="row" th:text="${obj.custoTotal}"></th>
    <td th:text="${obj.mes}"></td>
    <td th:text="${obj.ano}"></td>
    <!-- <td><a class="btn btn-sm btn-primary"
           th:href="@{/permanentes/compras/{mes}/{ano} (mes=${obj.numMes}),(ano=${obj.ano})}">Ver Detalhes</a> -->
  </tr>
  </tbody>
</table>
</body>
</html>