<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
<header th:include="_template :: menu(page)"></header>

<div class="container pt-2">
  <div class="card">
    <div class="card-body">
      <h2 align="center"  style="background-color:#121212; color: white;
            font-family: Inconsolata">Formulário de Editora</h2>

      <div th:if="${mensagem}" th:text="${mensagem}"></div>
      <form th:action="@{/editora/form/save}" method="POST" th:object="${editora}">
        <div class="form-group">
          <label class="hide" for="cnpj">CNPJ</label> <input
                th:classappend="${#fields.hasErrors('cnpj')}? invalid"
                type="text" id="cnpj" name="cnpj" th:field="*{cnpj}"
                required="required" class="form-control" th:value="${editora?.cnpj}" > <span
                th:errors="*{cnpj}"></span>
        </div>

        <div class="form-group">
          <label class="hide" for="nome">Nome</label> <input
                th:classappend="${#fields.hasErrors('nome')}? invalid"
                type="text" id="nome" name="titulo" th:field="*{nome}"
                required="required" class="form-control" th:value="${editora?.nome}" > <span
                th:errors="*{nome}"></span>
        </div>

        <div class="form-group">
          <label class="hide" for="email">E-MAIL</label> <input
                th:classappend="${#fields.hasErrors('email')}? invalid"
                type="text" id="email" name="email" th:field="*{email}"
                required="required" class="form-control" th:value="${editora?.email}" > <span
                th:errors="*{email}"></span>
        </div>

        <div class="form-buttons">
          <a class="btn btn-secondary" href="/editora/todos">Voltar</a>
          <button class="btn btn-success" value="Salvar">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>